/* jumbotron */
.jumbotron {
  background-image: url("../img/paket_keahlian/paket_keahlian.jpg");
  background-size: cover;
  height: 400px;
  background-attachment: fixed;
  margin-top: -60px;
}

/* konten */
.judul {
  font-family: "patrick hand";
}
.logo {
  width: 200px;
  height: 200px;
}
.accordion {
  margin-top: -74px;
}
@media (min-width: 992px) {
  body {
<<<<<<< HEAD
    background-color: #bbb;
  }
  .wrap {
    width: 992px;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
=======
>>>>>>> 5ad2b3aa9cf332219ac70da331888a609149068a
    background-color: #eee;
  }
  .konten {
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
  }
}
